.boby{background-size:cover;background-repeat:no-repeat; height:100%;min-width: 1200px; }
.login_all{width: 1100px; height: 420px; margin: auto; margin-top: 200px;}
.login_table{float:right;text-align: center;background-color: #f2f7fd; border-spacing:0;   border-spacing:0;border-radius:4px;border:0;
   }
.login_left{width: 368px; height: 420px;float:left;background-color: #FFF;border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;}
.login_table tr{margin:0;padding:0}
.login_table tr td{margin:0;padding:0;height:0}

.login_left .login_car{width: 340px;height: 480px; background:url(../img/login/car.png) no-repeat;background-size:340px;margin-left:15px;margin-top:10px;}
.table_box{width: 340px;height: 192px;margin-left: 40px;margin-top:32px;  background:#fff;border-radius:4px;}
.table_all{ border-bottom:3px solid #eff3fe;height: 57px;width: 260px;margin:0 40px;padding-top:20px;}
.table_name{ float:left; width: 60px;}
.table_pwdspan{display:block;width:44px;height: 54px; background:url(../img/login/pwd.png) center no-repeat;background-size:20px auto; }
.table_namespan{display:block;width: 44px;height:54px; background:url(../img/login/user.png) center no-repeat;background-size:20px auto; }
.table_inputall{width: 180px; float: left;}
.table_input{height: 54px; margin-top: 1px; width: 180px;  font-size: 14px;   border: 0px; }

.login_title{height:42px;background:url(../img/login/bgtop.jpg) repeat-x;border-top-left-radius:4px;border-top-right-radius:4px;}
.buttondiv{color: white; background-color: #549aeb; outline: white; width: 340px; height: 47px;border-top:0;border-left:0; border-right:0;  border-bottom: 3px solid #3f87d9; font-size: 20px; float: left; margin-left:40px; border-radius: 4px;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}
input{
	-webkit-box-shadow: 0 0 0px 1000px white inset;
 	-webkit-appearance: none;
    outline: none;
    border: none;
    }